.broo-user-badges-widget h1, .broo-user-badges-widget h2, .broo-user-badges-widget h3, .broo-user-badges-widget h4, .broo-user-badges-widget h5, .broo-user-badges-widget h6 {
	display: block;
}
.broo-user-badges-widget img {
	margin-bottom: 10px;
}
.broo-condition .broo-badges .broo-badge img {
	margin-right: 2px;
}

.broo-condition, .broo-badge-summary, .user-leaderboard {
	margin-bottom: 20px;
}

.broo-user-badges-widget .broo-user-badges-summary {
	margin-top: 10px;
}

.broo-condition label {
	font-weight: bold;
	display: block;
}
.broo-condition label.broo-assignments, .broo-condition label.broo-steps  {
	margin-bottom: 10px;
}
.broo-condition .broo-points {
	display: block;
}

.broo-badge-summary .broo-users .broo-user {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}
.broo-badge-summary .broo-users-count {
	margin-bottom: 10px;
}
.broo-badge-summary .broo-badge-main {
	text-align: left;
	margin-bottom: 20px;
}
.broo-badge-summary .broo-badge-main h2, .broo-badge-summary .broo-badge-main img {
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	-webkit-box-shadow: 0 0 0 0 #fff !important;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 0 0 0 0 #fff !important;  /* Firefox 3.5 - 3.6 */
 	 box-shadow: 0 0 0 0 #fff !important;
}

.broo-badge {
	cursor: pointer;
	width: auto;
	display: inline-block;
}

#buddypress div#item-header ul {
	margin-bottom: 0px;
}
#buddypress div#item-header ul.broo-badges li {
	list-style: none;
	float: none;
	display: inline;
	padding: 5px 10px;
}


#buddypress .broo-user-badges-summary {
  margin: 15px 0 5px;
  padding-bottom: 10px;
}

#buddypress .broo-recent-assignments .broo-badge-container a, 
#buddypress .broo-recent-assignments .broo-badge-container span, 
#buddypress .broo-recent-assignments .broo-points, 
#buddypress .broo-recent-assignments .broo-badges {
	font-size: small;
}


#buddypress .broo-recent-assignments table {
	border: none;
	margin: 0px;
	padding: 0px;
}

.broo-user-badges-summary ul.broo-badges li {
	list-style: none;
}
.broo-user-badges-summary .broo-points, .broo-user-badges-summary .broo-badges {
	display: block;
}

.broo-user-badges-widget .broo-user-badges-summary .broo-points {
	margin-top: 10px;
}

.bbp-reply-author .broo-user-badges-summary {
	margin-top: 1em;
}

.broo-badge img {
	-webkit-box-shadow: 0 0 0 0 #fff !important;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 0 0 0 0 #fff !important;  /* Firefox 3.5 - 3.6 */
 	 box-shadow: 0 0 0 0 #fff !important;
}
.broo-badge-summary  .broo-badge-description, .broo-badge-summary .broo-users-count {
	display: block;
	margin-top: 10px;
}

.user-leaderboard table {
	width: auto;
}
.user-leaderboard form, .user-leaderboard form input, .user-leaderboard form select {
	margin-bottom: 10px;
}
.user-leaderboard form input {
	max-width: 180px;
}
/*
.user-leaderboard td.broo-badges, .user-leaderboard td.broo-points, .user-leaderboard td.rank {
	text-align: center;
}*/
.user-leaderboard td.rank {
	font-weight: bold;
}
.user-leaderboard form label {
	display: inline;
}

.user-leaderboard td {
	vertical-align: middle;
}

.broo-user-dashboard-summary .broo-badge {
	display: inline-block;
}
.broo-user-dashboard form, .broo-user-dashboard-summary, .user-dashboard-assignments {
	vertical-align: middle;
}
.broo-user-dashboard form {
	margin-bottom: 10px;
}

.user-dashboard-assignments table {
	width: auto;
}
.user-dashboard-assignments .broo-badge {
	display: block;
}
.user-dashboard-assignments .broo-more-btn {
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	width: auto;
}
.user-dashboard-assignments label.broo-recent-assignments {
	margin-bottom: 10px;
	display: inline-block;
}

.badge-count {
	margin-right: 10px;
}

.broo-badge-theme-dark {
	background-color: #333;
    border: 1px solid #333 !important;
    color: #fff;
}
.broo-badge-theme-light {
    border: 1px solid #e0e0e0 !important;
    color: #777;
    background: #f2f2f2;
}

a.broo-badge-theme-light, a.broo-badge-theme-dark {
	text-decoration: none !important;
}

.broo-badge-theme-icon img {
	display: inline-block !important;
}


.broo-badge-theme-light, .broo-badge-theme-dark {  
    -webkit-transition: background, 0.3s, ease;
    -moz-transition: background, 0.3s, ease;
    -ms-transition: background, 0.3s, ease;
    -o-transition: background, 0.3s, ease;
    padding: .4em .8em .4em .2em;
    margin: 0 3px 3px 0;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle; 
}

.broo-badge-container, .broo-points, .broo-assignment {
	/* display: block; */
	margin-bottom: 5px;
}
.broo-assignment .broo-points, .user-leaderboard-table .broo-points {
	display: inline-block;
	margin-bottom: 0px;
}

.broo-assignment .broo-badge-container {
	display: inline-block;
}
.broo-assignment .broo-time-diff {
	font-style: italic;
}

.broo-badge-theme-light:hover {
	background: #e0e0e0;
    color: #777;
}

.broo-badge-theme-dark:hover {
	background: #555;
    color: #fff;
    border-color: #555;
}

.broo-badge .broo-theme-color {
	width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
    margin-right: 2px;
    margin-left: 4px;
}
